.header{
    display: flex;
    justify-content: space-between;
    border : 1px solid black;
}
.logo{
    width: 100px;
    border-radius: 300px;
}
.navlist{
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
}
.navlist >li {
    padding: 10px;
    margin: 10px;
}
.res-card{
    width: 250px;
    height: auto;
    
    padding: 10px;
    margin: 5px;
}
.res-card:hover{
    border: 1px solid black;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
    
}
.res-container{
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px;
}

.rest-image {
    height: 150px;
    width: 150px;
    margin : 10px 0px ;
}
.user-card{
    border: 1px solid black;
}